* {
    padding: 0;
    margin: 0;
}

*:after,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navbar-btm .weui_navbar_item {
    padding: 5px 0;
}

.nav-icon {
    width: 20px;
    height: 20px;
}

#navbar-btm span {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.clear-both {
    clear: both
}

.pull-left {
    float: left;
}

.pd-r-m {
    padding-right: 15px;
}

.pd-l-m {
    padding-left: 15px;
}

.pull-right {
    float: right;
}

.big-font {
    font-size: 18px;
}

nav {
    padding-bottom: 5px;
}

.nav-img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 10px;
}

#details {
    background-color: #E0E0E0;
    padding-bottom: 75px;
}

.banner img {
    width: 100%;
    height: 200px;
}

.banner p {
    font-size: 10px;
}

.cart-cnt {
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: -7px;
}

.gray-font {
    color: #808080;
}

.ps-a {
    position: absolute;
}

.ps-r {
    position: relative;
}

.del-line {
    position: absolute;
    top: 40%;
    width: 100%;
    border: 1px solid #E66B6B
}
